<div class="container">


<%= form_for :form do |f| %>
  <p>
    <%= f.label :fullname, "Full Name" %>
    <%= f.text_field :fullname %>
  </p>

  <p>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :projectrepo, "Project Repo" %>
    <%= f.text_field :projectrepo %>
  </p>

  <p>
    <%= f.label :projecturl, "Project Url" %>
    <%= f.text_field :projecturl %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
  <% end %>

  </div>
