<div class="container">

<p>
  <strong>Full Name:</strong>
  <%= @form.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Project Repo:</strong>
  <%= @form.projectrepo %>
</p>

<p>
  <strong>Project Url:</strong>
  <%= @form.projecturl %>
</p>

<p>
  <strong>Using Best Practices for oop:</strong>
  <%= @form.bestpractice %>
</p>

<p>
  <strong>Modular Development:</strong>
  <%= @form.modular %>
</p>

<p>
  <strong>Full-Stack workflow understanding:</strong>
  <%= @form.fullstack %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @form.testing %>
</p>

<p>
  <strong>Database Knowledge:</strong>
  <%= @form.database %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @form.debugging %>
</p>

<p>
  <strong>Problem Solving Skills:</strong>
  <%= @form.problemsolving %>
</p>

<p>
  <strong>JavaScript:</strong>
  <%= @form.js %>
</p>

<p>
  <strong>HTML:</strong>
  <%= @form.html %>
</p>

<p>
  <strong>CSS:</strong>
  <%= @form.css %>
</p>

<p>
  <strong>Working on a team:</strong>
  <%= @form.teamwork %>
</p>

<p>
  <strong>Self Motivation:</strong>
  <%= @form.motivation %>
</p>

<p>
  <strong>Communication skills:</strong>
  <%= @form.communication %>
</p>

<p>
  <strong>Your own energy level:</strong>
  <%= @form.energy %>
</p>

<p>
  <strong>Intelligence / aptitude:</strong>
  <%= @form.intelligence %>
</p>

<%= link_to 'Back', forms_path, :class => 'back' %>

</div>
